*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml

.DS_Store

thesis-api/.idea
thesis-api/.project
thesis-api/.strong-pm
thesis-api/coverage
thesis-api/node_modules
thesis-api/npm-debug.log

thesis-app/.idea
thesis-app/.vscode
thesis-app/app/**/*.js
thesis-app/app/**/*.js.map
thesis-app/node_modules
thesis-app/platforms
thesis-app/hooks/
thesis-app/lib/
thesis-app/tmp/
thesis-app/typings/
thesis-app/
