.drawerContentText {
    font-size: 30;
    padding: 10;
}
.sideStackLayout {
    background-color: #2691d9;
}
.sideButton {
    font-size: 20;
    padding: 15;
    margin-right: 10;
    border-radius: 8px;
    color: black;
}
.sideFirstLevelButton {
    background-color: #bedef4;
    margin-bottom: 5;
    margin-top: 5;
    margin-left: 10;
}