/*
 * Color specifications for backgrounds and action bar.
**/
ActionBar {
    background-color: #2691d9;
    color: whitesmoke;
}

GridLayout, StackLayout, Page {
    background-color: whitesmoke;
}
ListView {
    background-color: whitesmoke;
    separator-color: whitesmoke;
}

/*
** Style specifications for custom made modal views.
**/
.dialogTitleLabel {
    border-width: 3px;
    border-style: solid;
    border-color: whitesmoke;
    border-bottom-color: #4d4d4d;
    text-align: center;
    font-size: 30;
    height: 50;
    color: black;
}
.dialogMessageLabel {
    margin-top: 5;
    text-align: center;
    height: 150;
    font-size: 18;
    color: black;
}

/*
** Border style specification.
**/
.border {
    padding: 15;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #4d4d4d;
    margin-bottom: 5;
}

/*
** Margin for pages main layouts specification.
**/
.layoutMargin  {
    margin: 30;
    margin-bottom: 15;
}

/*
** Specification for inside list (projects, achievements) buttons.
**/
.listButton {
    border-radius: 0;
    margin: 0;
    background-color: #d4e9f7;
    color: black;
    padding: 30;
}

/*
** Buttons style specifications.
*/
Button {
    background-color: #2691d9;
    color: whitesmoke;
    border-radius: 8px;
    margin-bottom: 10;
    padding: 15;
}
Button:highlighted {
    animation-name: highlightButton;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes highlightButton {
    0% { background-color: #bedef4; }
    100% { background-color: #2691d9; }
}
.darkColoredButton {
    background-color: #175782;
    color: whitesmoke;
}
.darkColoredButton:highlighted {
    animation-name: highlightDark;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes highlightDark {
    0% { background-color: #bedef4; }
    100% { background-color: #175782; }
}
.lightColoredButton {
    background-color: #67b2e4;
    color: whitesmoke;
}
.lightColoredButton:highlighted {
    animation-name: highlightLight;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes highlightLight {
    0% { background-color: #bedef4; }
    100% { background-color: #67b2e4; }
}
.cancelButton {
    background-color: #b30000;
    color: whitesmoke;
}
.cancelButton:highlighted {
    animation-name: highlighCancel;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes highlighCancel {
    0% { background-color: #ffcccc; }
    100% { background-color: #b30000; }
}
